<footer class="footer">
  <small>
    <%= t('footer.lang') %>

  </small>
  <p class = 'locale'>
    <%= link_to image_tag("rus.jpg", alt: "",  style: "width: 2%; height: 2%",
                          title: "Русский",align:"left",id: "flag"), locale: :ru %>
    <%= link_to image_tag("eng.jpg", alt: "",  style: "width: 2%; height: 2%",
                          title: "English",align:"left",id: "flag"), locale: :en %>

  </p>
  <nav>
    <ul>
      <li><%= link_to t('footer.about'),   about_path %></li>
      <li><%= link_to t('footer.contacts'), contact_path %></li>

    </ul>
  </nav>
</footer>