<header class="navbar navbar-fixed-top navbar-dark bg-dark">


  <div class="container">

    <%= link_to "travel app", root_path, id: "logo" %>


    <nav>
      <ul class="nav  ">
        <li><%= link_to t('header.home'), root_path %></li>
        <li><%= link_to t('header.help'), help_path%></li>



        <% if logged_in? %>


          <li><%= link_to t('header.profile'), current_user %></li>
          <li><%= link_to t('header.settings'), '#' %></li>
          <li><%= link_to t('header.log_out'), logout_path, method: "delete" %></li>

        <% else %>
          <li><%= link_to t('header.log_in'), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>

</header>