<table id="<%= dom_id image %>">
  <tr>
    <th>Name</th><th>Picture</th><th >Ave value</th><th >Theme</th>
  </tr>
  <tr>
    <th>

      <%= image.name %>
    </th>
    <th>

      <%= link_to "Show this image", image %>

    </th>
    <th>

      <%= image.ave_value %>
    </th>
    <th>

      <%= image.theme_id %>
    </th>
  </tr>




</table>